<div class="container">
    <h3>Configuration</h3>
    <form role="form" accept-charset="UTF-8" id="uploadform" enctype="multipart/form-data">
        <div class="form-group">
            <label for="picture">Picture</label>
            <input type="file" id="picture" class="form-control"
                   (change)="picturePreview()">
            <img id="preview" src="" height="200px" />
        </div>
        <button (click)="submitConfiguration()" class="btn btn-default">Send</button>
	  </form>
</div>
