<div class="container">
	<h3>Configuration</h3>
    <form role="form" (ngSubmit)="submitConfiguration()" #configurationForm="ngForm">
			<div class="form-group">
                <label for="picture">Picture</label>
				<input type="file" id="picture" class="form-control" 
				[(ngModel)]="model.picture" ngControl="picture" required #picture="ngForm" (change)="picturePreview()">
				<img id="preview" src="" height="200px" />
			</div>
	
			<button type="submit" class="btn btn-default">Send</button>
	</form>
		
</div>